#bgimg {
  position: fixed;
  min-width: 100%;
  opacity: 100%;
}

.container {
  position: relative;
  color: white;
  padding: 100px;
}

#user-city {
  margin-top: 30px;
  color: #2a283b;
  opacity: 30%;
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.date {
  font-size: 22px;
  font-weight: 300;
}

.list {
  list-style: none;
  padding: 0px;
}

.details {
  margin-top: 15%;
  font-size: 12px;
  text-align: left;
  background: #436c7e;
  opacity: 70%;
  padding: 30px;
  border-radius: 30px;
  max-width: 950px;
}
.city,
.currentTemp {
  font-size: 50px;
  font-weight: bold;
}

#description {
  font-size: 14px;
  font-weight: lighter;
}

.emoji {
  padding-top: 20px;
  padding-left: 5px;
  width: 100%;
}

#submit-city {
  border-radius: 20px;
  padding: 10px;
  width: 100px;
  margin-left: 15px;
  background: white;
  color: #2d9cb8;
  border: none;
  font-weight: bold;
}

#units {
  font-size: 12px;
  position: relative;
  top: -25px;
  font-weight: 300;
  margin-left: 5px;
}
